<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body class="<%= page %>">
  <% include partials/template/header.ejs %>
  <% include partials/content/projectslist.ejs %>

    <section class="layout">
      <div class="primary">
       <% include partials/content/whoAmI.ejs %>
       <% include partials/content/whatILearned.ejs %>
       <% include partials/content/followMe.ejs %>

      </div><!--primary -->
      <aside class="secondary">
        <% include partials/content/nextmeeting.ejs %>
        <% include partials/content/artworklist.ejs %>
      </aside><!--secondary -->
    </section>

    <% include partials/template/defaultjs.ejs %>
    <% include partials/template/footer.ejs %>
  </body>
</html>
