<footer>
<section class="Layout">
  <p>blog: <a href= http://edieshimel.com </a><p/>
  <p>email me: edieshimel@gmail.com.</p>
  <% include ../content/socialmedia.ejs %>
</section> <!--layout section -->
</footer>  <!--footer section -->
