<article id="whoshouldcome">
  <h1>What I've learned this week</h1>
  <ul>
    <li>1. That I am a growth hacker.</li>
    <li>2. That programming magazines in the early 1980's used to publish DIY
    code recipes for popular application that you would otherwise have to buy. </li>
    <li>3. That I my podcast addiction is making mre more organized.</li>
  </ul>
</article><!-- article -->
