<article id="whoshouldcome">
  <h1>What I learned this week</h1>
  <ul>
    <li>1. How to write a js function to get the product of two integers without using multiplication</li>
    <li>2. That I LOVE playing with Paper.js</li>
    <li>3. Heroku is not the enemy.</li>
  </ul>
</article><!-- article -->
