<article id="whoarewe">
  <h1>Who am I</h1>
    <p>My name is Edie Shimel, and I am an aspiring creative web developer, visual artist, educator, and maker.  My eclectic and creative career has provided me with opportunities to make meaningful connections in my respective communities, bring creative experiences to youth, and build new skills-sets relating to full stack web development,  design thinking and interpretation.

  </p>
</article><!-- article -->
